/* Step 4.1 自动深浅色 */
html {
  color-scheme: light dark; /* 自动：随系统 */
  background: canvas;       /* 系统背景色 */
  color: canvastext;        /* 系统文字色 */
}

:root{
  --maxw: 100ch;       /* 内容最大宽度：会随字体大小缩放 */
  --maxw: 100ch; --accent: oklch(65% 50% 0);  /*加颜色*/

}
html{ accent-color: var(--accent); }
body {
  font: 100%/1.5 system-ui;
  margin-inline: max(1em, (100% - var(--maxw)) / 2);  /* 居中 + 小屏留白 */
  padding-inline: 1em;  /* xin */
}
img {
  max-width: 100%;
  height: auto;
}
nav ul, nav li { display: contents; }
nav{ 
  display: flex; /*Flex 帮自动排列 变好看*/
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}



/* 导航 */
nav a{
  flex: 1;                  
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: .5em;
}
nav a.current{
  border-bottom: .4em solid #ccc;
  padding-bottom: .1em;       
  font-weight: 600;
}
nav a:hover{
  border-bottom: .4em solid var(--accent);
  background-color: oklch(from var(--accent) 95% 5% h); 
}
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 1px solid var(--border-color);
} /* 主题变色 导航跟着变 */

/* contact */
input, textarea, button { font: inherit; }

form {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 1em;                       
  max-width: 35rem;              
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1; 
  margin: 0;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  grid-column: 1 / -1;
  width: 100%;
}




/* Project */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); 
  gap: 1em;             
  margin: 2em 0;          
}


.projects > article {
  display: grid;
  grid-template-rows: subgrid;  
  grid-row: span 3;             
  margin: 0;                    
}

/* 调整内部元素 */
.projects h2 {
  margin: 0;                   
}

.projects img {
  width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* 提高主标题对比度 */
h1 {
  font-size: 300%;
}

.projects p {
  margin: 0.5em 0 0;
}



/*简历*/
.resume{
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 1em;
  margin-block: 1em;
}
.resume section{
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: .5em;
}

/* 背景选择器，右上角*/
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}
.color-scheme select { font-family: inherit; }
